
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "MyList";
    ViewBag.MyListActive = "active";
}

<!-- Banner -->
<section class="tm-banner">
    <!-- Flexslider -->
    <div class="flexslider flexslider-banner">
        <ul class="slides">
            <li>
                <div class="tm-banner-inner">
                    <h1 class="tm-banner-title">Find <span class="tm-yellow-text">get your</span> lists</h1>
                    <p class="tm-banner-subtitle">For Your Destinations</p>
                    <a href="@Url.Action("Create","List")" class="tm-banner-link">Create</a>
                </div>
                <img src="~/img/banner-2.jpg" />
            </li>
           
        </ul>
    </div>
</section>

<!-- gray bg -->
<section class="container tm-home-section-1" id="more">
  

    <div class="section-margin-top">
        <div class="row">
            <div class="tm-section-header">
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">My Lists</h2></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="tm-tours-box-1">
                    
                    <div class="tm-tours-box-1-info">
                        <div class="tm-tours-box-1-info-left">
                            <p class="text-uppercase margin-bottom-20">Proin Gravida Nibhvel Lorem Quis Bind</p>
                            <p class="gray-text">28 March 2084</p>
                        </div>
                        <div class="tm-tours-box-1-info-right">
                            <p class="gray-text tours-1-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, sec sagittis sem nibh id elit.</p>
                        </div>
                    </div>
                    <div class="tm-tours-box-1-link">
                        <div class="tm-tours-box-1-link-left">
                            Duration: 8 days
                        </div>
                        <a href="#" class="tm-tours-box-1-link-right">
                            $2,200
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

